---
type Props = {
  title: string;
  link: string;
  image:string;
  animationDelay?: string;
};

const { title } = Astro.props;
const { link } = Astro.props;
const { image } = Astro.props;
const { animationDelay } = Astro.props;
---

<a
  class={`w-full h-80 md:h-96 lg:h-full group relative rounded-2xl overflow-hidden ${animationDelay ? 'animate-fade-in' : ''}`}
  {...(animationDelay && { style: `animation-delay: ${animationDelay}` })}
  href={link}>
  <img
    class="absolute w-full h-full object-cover z-0 border-none"
    src={image}
    alt="Menu Image" />
  <div
    class="absolute bottom-0 left-0 w-full h-40 bg-gradient-to-t from-black to-transparent"></div>
  <div
    class="absolute bottom-0 left-0 w-full h-full z-10 bg-black/20 group-hover:bg-black/0 ease-in duration-300"></div>
  <div
    class="group flex flex-row items-center gap-2 absolute right-0 bottom-0 pl-3 py-1 bg-background rounded-tl-2xl z-20 border-none">
    <svg
      class="absolute bottom-0 -left-6 h-6 w-6 fill-background"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M24 24V0C24 13.2549 13.2549 24 0 24H24Z" />
    </svg>
    <svg
      class="absolute right-0 -top-6 h-6 w-6 fill-background"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M24 24V0C24 13.2549 13.2549 24 0 24H24Z" />
    </svg>
    <h2 class="text-xl">{title}</h2>
    <div
      class="relative rounded-full border border-border overflow-hidden group-hover:bg-foreground/10 group-hover:border-white/30 ease-in duration-100">
      <svg
        class="h-6 w-6 stroke-foreground p-1 group-hover:translate-x-full ease-in duration-100"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4 12L20 12M20 12L14 18M20 12L14 6"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
      <svg
        class="absolute bottom-0 left-0 h-6 w-6 stroke-foreground p-1 transform -translate-x-full group-hover:translate-x-0 ease-in duration-100"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4 12L20 12M20 12L14 18M20 12L14 6"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
  </div>
</a>
